fastapi~=0.96.1
pydantic~=1.10.17
SQLAlchemy~=2.0.30
python-dotenv~=1.0.1
requests~=2.31.0
starlette~=0.27.0
colorama~=0.4.6
uvicorn~=0.22.0
PlexAPI~=4.15.13
pyquery~=2.0.0
telebot~=0.0.5
qbittorrent-api~=2024.5.63
transmission_rpc~=4.3.1
apscheduler~=3.10.4
PyJWT~=2.8.0
xmltodict~=0.13.0
pycryptodome~=3.18.0
setuptools~=70.0.0
Cython~=3.0.10
python-dateutil~=2.8.2
PySocks~=1.7.1
cryptography~=44.0.1
torrentool~=1.2.0
fake_useragent~=2.1.0
beautifulsoup4~=4.13.4
html5lib~=1.1
protobuf~=6.31.1
grpcio~=1.73.1
pymongo~=4.13.2