# Emby服务器地址
EMBY_URL=
# Emby API Key
EMBY_API_KEY=
# Plex服务器
PLEX_URL=
# Plex Token 
PLEX_TOKEN=
# Jellyfin服务器
JELLYFIN_URL=
# Jellyfin API Key
JELLYFIN_API_KEY=
# Jellyfin用户
JELLYFIN_USER=
# qBittorrent服务器地址 
QBITTORRENT_URL=
# qBittorrent用户名
QBITTORRENT_USERNAME=
# qBittorrent密码
QBITTORRENT_PASSWORD=
# qBittorrent下载路径
QBITTORRENT_DOWNLOAD_PATH=
# qBittorrent分类
QBITTORRENT_CATEGORY=
# transmission服务器地址
TRANSMISSION_URL=
# transmission用户名
TRANSMISSION_USERNAME=
# transmission密码
TRANSMISSION_PASSWORD=
# transmission下载路径
TRANSMISSION_DOWNLOAD_PATH=
# transmission标签
TRANSMISSION_LABEL=
THUNDER_URL=
THUNDER_FILE_ID=
THUNDER_AUTHORIZATION=
# PTT cookie
PTT_COOKIE=
NICEPT_COOKIE=
# 馒头API Key
MTEAM_API_KEY=
# 图书馆cookie
LIBRARY_COOKIE=
# 公交车cookie
BUS_COOKIE=
# AVDBcookie
AVDB_COOKIE=
# AVBASE cookie
AVBASE_COOKIE=
# 微信企业ID
WECHAT_CORP_ID=
 # 微信企业密钥
WECHAT_CORP_SECRET=
# 微信应用ID
WECHAT_AGENT_ID=
# 微信token
WECHAT_TOKEN=
# 微信EncodingAESKey
WECHAT_ENCODING_AES_KEY=
# 微信推送用户 用|分割 默认@all
WECHAT_TO_USER=@all
# 微信代理
WECHAT_PROXY=
# 微信推送时候的横幅图，需外网可访问的地址
WECHAT_PHOTO=
WECHAT_BANNER=False
# Telegram Bot Token
TELEGRAM_BOT_TOKEN=
# Telegram Chat ID
TELEGRAM_CHAT_ID=
# 图片防剧透
TELEGRAM_SPOILER=False
TELEGRAM_WHITELIST=
# HTTP代理
PROXY=
# FLARE_SOLVERR_URL
FLARE_SOLVERR_URL=
# 默认过滤器
DEFAULT_FILTER='{"only_chinese": false, "only_uc": false,"exclude_uc": false, "only_uhd": false,"only_free": false, "exclude_uhd": true, "include_keywords": "", "exclude_keywords": "", "min_size": "", "max_size": ""}'
# 默认排序
DEFAULT_SORT='free,chinese,uc,!uc,site,seeders,!uhd,uhd'
#图片模式有三种 INVISIBLE VISIBLE BLUR
IMAGE_MODE=BLUR
# 排行榜每日订阅时间
RANK_SCHEDULE_TIME='0 20 * * *'
# 演员订阅每日执行时间
ACTOR_SCHEDULE_TIME='0 21 * * *'
# 订阅任务每日运行时间
DOWNLOAD_SCHEDULE_TIME='0 22 * * *'
# 榜单更新页数 填0则不进行自动订阅
RANK_PAGE=
RANK_TYPE=
# 厂牌订阅
BRAND_TYPE=

SECRET_KEY=
MAIN_SITE=ALL
MAX_ACTOR=3
BYPASS_URL=
CLOUDNAS_URL=
CLOUDNAS_USERNAME=
CLOUDNAS_PASSWORD=
CLOUDNAS_SAVEPATH = '/115open'
NICKNAME=
ENABLE_BT=True
ENABLE_BT_ANTI_LEECH =True
SHT_DB=
